@tailwind base;
@tailwind components;
@tailwind utilities;


#gradient-canvas {
  --gradient-color-1: #6ec3f4;
  --gradient-color-2: #ffee00;
  --gradient-color-3: #3a3aff;
  --gradient-color-4: #E63946;
}

body {
  margin:0;
  padding:0;
}


@font-face {
  font-family: "Sohne";
  src: url("/fonts/Söhne-Buch.otf");
}


